/*main header styles*/

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: url(images/brushed_metal.jpg);
  background-size: cover;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.header-button-group {
  margin-left: 10px;
}

.user-col {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.main-header h5 {
  color: red;
  font-family: digii;
  font-size: 1.2em;
  background-color: black;
  padding: 5px;
}



/*add movie (main) page styles*/
.main {
  background-image: url(images/flux capacitor.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.input-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-label {
  font-family: impactLabel;
  color: red;
  font-size: 2em;
  background-color: white;
}

#movieTitle {
  max-width: 50%;
  font-family: digii;
  color: red;
  background-color: black;
  font-size: 1.2em;
}






#userEmail {
  height 300px;
}


#loginPage::after {
  content: "";
  background: url(login.jpg);
  /*background: linear-gradient(green,#e3e0cf );*/
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}
.main-header {
  padding-top: 5rem;
  height: 700px;
}

#movieTitle {
  max-width: 50%;
}

.button-group {
  margin-top: 3px;
}

.car-msg-wrapper {
    position: absolute;;
    margin-left: 76%;
    background-image: url(bubble-icon-with-text.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top:3%;
    animation:3s;
    animation-name: carMsgBubble;
}

.delorean {
    position: absolute;
    max-height: 100px;
    max-width: 140px;
    left: 0%;
    margin: 7em -244px;
    margin-top: 0;
    padding-top: 0;
    animation: 5s;
    animation-name: slideLeft;
}
/*animation for the delorean*/
@keyframes slideLeft {
    0% {
        animation-timing-function: ease-in;
        left: 150%;
    }
    40% {
        left: 100%;
    }
    60%{
        left: 100%;
    }
    80% {
        left: 0%;
    }
    100% {
        left: -150%
    }
}
/*animation for the message bubble*/
@keyframes carMsgBubble {
    0% {
        left: 150%;
    }
    60%{
        left: 100%;
    }
    80%{
        left:150%;
    }
}

/*body styles*/

body {
  background-color: #e3e0cf;
}

.card-wrapper {
  margin-top: 100px;
}
.movie-body {
   text-align: center;
   padding-top: 6rem;
   display: flex;
   justify-content: center;
}
.movie-card{
    padding-top: 2rem;
    border: black solid 1px;
    background-color: #e9ece5;
    margin: 2rem 2rem;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 2rem;
    border-radius: 5px;
}
.movie-poster{
    max-height: 21em;
    max-width: 15em;
}

/*card styles*/
.watched {
  margin-left: 3rem;
  padding-top: 1rem;
}
.title {
  font-size: 2rem;
}


#save-movie {
margin-left:2rem;

}

.myMovies {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 15rem;
  margin: auto;
  justify-content: center;
}
 .hidden {
  display: none;
 }

 header{
    padding: 10px;
    background-color: rgba(205, 211, 211, .9);
    box-shadow: 0px 5px 10px white;
    border-radius: 10px;
 }
